.App {
  text-align: center;
  background-image: url(".././src/assets/textures/tavernwall.jpg");
  color: rgb(255, 255, 255);
  font-family: 'Spectral', serif;
}

body {
  background-image: url(".././src/assets/textures/tavernwall.jpg");
}

a {
  text-decoration: none;
  color: black;
  font-family:
}