.login-container {
  background-image: url("../../assets/textures/medwood.jpg");
  width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 1px black;
}

.login-ham {
  width: 500px;
}

.login-text {
  color: rgb(0, 0, 0);
  width: 300px;
  margin: 0px auto;
}

.login-form {
  color: rgb(255, 255, 255);
  width: 200px;
  margin: 0px auto;
  border: 5px auto;
  box-shadow: 0px 0px 10px 1px black;
  background-image: url("../../assets/textures/tavernwall.jpg");
}

.login-button, .register, .leave {
  font-family: 'Spectral', serif;
  background-image: url("../../assets/textures/oldlightwood.jpg");
  color: white;
  margin: 2px auto;
  display: block;
}

.login-button:hover, .register:hover, .leave:hover {
  color: goldenrod;
}

.login-misc {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  border-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .login-container {
    width: 800px;
    height: 1000px;
    margin-top: 100px;
  }

  .login-ham {
    width: 800px;
  }
  
  .login-text {
    font-size: 50px;
    width: 700px;
    margin: 5px auto;
  }
  
  .login-form {
    font-size: 50px;
    width: 500px;
    margin: 0px auto;
  }

  input {
    font-size: 50px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
  }

  .login-button, .register, .leave {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    margin-top: 100px;
  }
}
