.login-container {
  background-image: url("../../assets/textures/medwood.jpg");
  width: 600px;
  margin: 0 auto;
}

.login-ham {
  width: 600px;
}

h2 {
  color: rgb(41, 30, 0);
  width: 300px;
  margin: 5px auto;
}

.login-form {
  width: 200px;
  margin: 10px auto;
  border: 20px auto;
}