.intro {
max-width: 80%;
margin: 0 auto;
}

.intro-img{
max-height: 350px;
box-shadow: 0px 0px 5px 1px black;
}

.intro-text {
max-width: 80%;
margin: 0 auto;
}

.intro-button {
color: goldenrod;
margin-top: 10px;
font-size: 50px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 20px;
    max-width: 100%;
    display: grid;
  }

  .intro-img {
    max-height: 700px;
  }

  .intro-text {
    font-size: 35px;
  }

  .intro-button {
    margin-top: 10px;
    font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    margin-top: 10px;
    max-width: 100%;
    display: grid;
  }

  .intro-text {
    max-width: 90%;
    font-size: 18px;
  }
  .intro-img {
    max-height: 210px;
  }

  .intro-button {
    margin-top: 10px;
    font-size: 35px;
  }
}
